#corpo{
    background-color:black;
    ;
}
.container{
    width: 60%;
    background-color:black;
    margin: auto;
    text-align: justify;
}
#paragrafo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p7{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p8{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#t2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p9{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p10{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p11{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p12{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p13{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p14{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p15{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p16{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p17{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#t3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

#p18{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p19{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p20{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p21{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p22{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p23{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p24{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p25{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#t4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p26{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p27{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p28{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p29{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p30{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p31{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
#p32{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

